<!doctype html>
<html>
<head>
  <title>Is Houdini Ready Yet?</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }
    html, body {
      width: 100vw;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Roboto Condensed', sans-serif;
      max-width: 720px;
      margin: 0 auto;
    }
    .title {
      text-align: center;
      font-size: 3em;
      margin: 2em 0;
    }
    table {
      width: 100%;
    }
    td {
      text-align: center;
      padding: 5px;
      vertical-align: center;
    }
    /* Rounded corners for status table */
    tbody tr:first-of-type > td:first-of-type {
      border-top-left-radius: 3px;
    }
    tbody tr:first-of-type > td:last-of-type {
      border-top-right-radius: 3px;
    }
    tbody tr:last-of-type > td:first-of-type {
      border-bottom-left-radius: 3px;
    }
    tbody tr:last-of-type > td:last-of-type {
      border-bottom-right-radius: 3px;
    }
    thead td {
      vertical-align: top;
    }
    thead .status__browser img {
      display: block;
      height: 50px;
      margin: 10px auto;
    }
    .status__completeness button {
      display: block;
      border: 0;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      opacity: 0.4;
      transition: opacity 0.3s ease-in-out;
      margin: 10px;
      font-size: 1em;
    }
    .status__completeness button:hover {
      opacity: 0.8;
    }
    .status__completeness--none {
      background-color: hsl(0, 50%, 65%);
    }
    .status__completeness--partial {
      background-color: hsl(50, 70%, 60%);
    }
    .status__completeness--full {
      background-color: hsl(75, 70%, 60%);
    }
    .status__completeness__details {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      will-change: transform;
      background-color: inherit;
      transform-origin: 0% 0%;
      z-index: 1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
      border-radius: 3px;

      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    .status__completeness__details > .status__completeness__details__content {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .status__completeness__details__close {
      height: 40px;
    }
    .status__completeness__details.displayed {
      visibility: visible;
    }
    .status__completeness__details.visible {
      opacity: 1;
    }
    .status__completeness__details.maximized {
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border-color: transparent;
    }
    .status__completeness__details.animated {
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>
<body>
  <h1 class="title">Is Houdini ready yet‽</h1>
  <table>
    <thead>
      <tr>
        <td class="empty"></td>
        {{#each browser}}
          <td class="status__browser status__browser--{{tag}}">
            <img src="/logos/{{tag}}.svg">
            {{name}}
          </td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each api}}
      {{#with . as |api|}}
        <tr class="status__api status__api--{{api.tag}}">
          <th>
            <a href="{{api.spec}}" class="status__api__name">{{api.name}}</a>
          </th>
          {{#each ../browser}}
            {{#with . as |browser|}}
              <td class="status__browser--{{tag}} status__completeness status__completeness--{{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}">
                {{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}
                {{#if (lookup (lookup (lookup ../../status api.tag) browser.tag) "since")}}
                  ({{lookup (lookup (lookup ../../status api.tag) browser.tag) "since"}})
                {{/if}}
                  <button class="status__completeness__detailsbutton">Flags & Details</button>
                  <div class="status__completeness__details">
                    <div class="status__completeness__details__content">
                      {{{read_partial api.tag browser.tag}}}
                    </div>
                    <button class="status__completeness__details__close">Close</button>
                  </div>
              </td>
            {{/with}}
          {{/each}}
        </tr>
      {{/with}}
    {{/each}}
    </tbody>
  </table>
  <script>
    function showDetails(ev) {
      const details = ev.target.parentNode.querySelector('.status__completeness__details');
      details.classList.add('displayed', 'maximized');
      const last = details.getBoundingClientRect();
      const first = ev.target.parentNode.getBoundingClientRect();
      details.dataset.transform = details.style.transform = `
        translate(${first.left - last.left}px, ${first.top - last.top}px)
        scale(${first.width/last.width}, ${first.height/last.height})
      `;
      requestAnimationFrame(function() {
        requestAnimationFrame(function() {
          details.classList.add('visible', 'animated');
          details.style.transform = 'none';
        });
      });
    }

    function hideDetails(ev) {
      const details = ev.target.parentNode;
      details.addEventListener('transitionend', function once() {
        details.removeEventListener('transitionend', once);
        details.classList.remove('visible', 'animated', 'displayed', 'maximized');
        details.dataset.transform = details.style.transform = '';
      });
      details.style.transform = details.dataset.transform;
    }

    const detailsbtns = document.querySelectorAll('.status__completeness > .status__completeness__detailsbutton');
    for(let i = 0; i < detailsbtns.length; i++) {
      detailsbtns[i].addEventListener('click', showDetails);
    }
    const closebtns = document.querySelectorAll('.status__completeness__details__close');
    for(let i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener('click', hideDetails);
    }

  </script>
</body>
</html>