<!doctype html>
<html>
<head>
  <title>Is Houdini Ready Yet?</title>
  <style>
    td {
      text-align: center;
    }
    thead td {
      vertical-align: top;
    }
    thead .status__browser img {
      display: block;
      height: 50px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <td class="empty"></td>
        {{#each browser}}
          <td class="status__browser status__browser--{{tag}}">
            <img src="/logos/{{tag}}.svg">
            {{name}}
          </td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each api}}
      <tr class="status__api status__api--{{tag}}">
        <th>
          <p class="status__api__name">{{name}}</p>
          (<a href="{{spec}}">spec</a>)
        </th>
        {{#each ../browser}}
          <td class="status__browser--{{tag}} status__completeness status__completeness--{{lookup (lookup (lookup ../../status ../tag) tag) "completeness"}}">
            {{lookup (lookup (lookup ../../status ../tag) tag) "completeness"}}
            {{#if (lookup (lookup (lookup ../../status ../tag) tag) "since")}}
              ({{lookup (lookup (lookup ../../status ../tag) tag) "since"}})
            {{/if}}
            {{#if (lookup (lookup (lookup ../../status ../tag) tag) "comment")}}
              <details>
                <summary>Flags & Details</summary>
                <div>
                  {{lookup (lookup (lookup ../../status ../tag) tag) "comment"}}
                </div>
              </details>
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</body>
</html>