<!--!
Copyright 2016 Google Inc. All Rights Reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@DasSurma" />
  <meta name="twitter:title" content="Is Houdini Ready Yet?" />
  <meta name="twitter:description" content="Overview over the current state of Houdini APIs in all major browsers." />
  <meta name="twitter:image" content="images/star.png" />

  <title>Is Houdini Ready Yet?</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" type="image/png" href="images/star.png">
  <style>
    * {
      box-sizing: border-box;
    }
    html, body {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Roboto Condensed', sans-serif;
    }
    @media (min-width: 720px) {
      body {
        max-width: 720px;
        margin: 0 auto;
      }
    }
    .title {
      text-align: center;
      font-size: 3em;
      margin: 1em 0;
    }
    table {
      width: 100%;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
    td {
      text-align: center;
      padding: 10px;
    }
    dl {
      text-align: left;
    }
    dt {
      font-weight: bold;
    }
    dd {
      margin-bottom: 10px;
    }
    footer a,
    th a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
    }
    footer a:hover,
    th a:hover {
      text-decoration: underline;
    }
    th a:before {
      content: '';
      background-image: url('images/link.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 1em;
      height: 1em;
      display: inline-block;
      margin-right: 3px;
      flex-shrink: 0;
    }
    button {
      display: block;
      border: 0;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      opacity: 0.4;
      transition: opacity 0.3s ease-in-out;
      margin-top: 10px;
      padding: 10px;
      font-size: 1em;
      width: 100%;
    }
    button:hover {
      opacity: 0.8;
    }
    /* Rounded corners for status table */
    tbody tr:first-of-type > td:first-of-type {
      border-top-left-radius: 3px;
    }
    tbody tr:first-of-type > td:last-of-type {
      border-top-right-radius: 3px;
    }
    tbody tr:last-of-type > td:first-of-type {
      border-bottom-left-radius: 3px;
    }
    tbody tr:last-of-type > td:last-of-type {
      border-bottom-right-radius: 3px;
    }
    thead td {
      vertical-align: top;
    }
    thead .status__browser img {
      display: block;
      height: 50px;
      margin: 10px auto;
    }
    /* Color codings */
    .details--no,
    .status__completeness--no {
      background-color: hsl(0, 50%, 65%);
    }
    .details--intent,
    .status__completeness--intent {
      background-color: hsl(260, 50%, 65%);
    }
    .details--development,
    .status__completeness--development {
      background-color: hsl(28, 80%, 65%);
    }
    .details--partially,
    .status__completeness--partially {
      background-color: hsl(50, 70%, 60%);
    }
    .details--yes,
    .status__completeness--yes {
      background-color: hsl(75, 70%, 60%);
    }

    .details {
      display: none;
      opacity: 0;
      position: fixed;
      will-change: transform;
      transform-origin: 0% 0%;
      z-index: 1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
      border-radius: 3px;
      padding: 30px;

      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      -webkit-backface-visibility: hidden;
    }
    .details > .details__content {
      flex-grow: 0.2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .details__close {
      height: 40px;
    }
    .details.displayed {
      display: flex;
    }
    .details.visible {
      opacity: 1;
    }
    .details.maximized {
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
    }
    .details.animated {
      transition: transform 0.3s ease-in-out;
    }
    footer {
      width: 100%;
      text-align: center;
      color: rgba(0, 0, 0, 0.54) !important;
      margin-top: 30px;
      padding: 10px;
    }
    footer a {
      display: inline !important;
    }
  </style>
</head>
<body>
  <h1 class="title">Is Houdini ready yet‽</h1>
  <table>
    <thead>
      <tr>
        <td class="empty"></td>
        {{#each browser}}
          <td class="status__browser status__browser--{{tag}}">
            <img src="logos/{{tag}}.svg">
            {{name}}
          </td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each api}}
      {{#with . as |api|}}
        <tr class="status__api status__api--{{api.tag}}">
          <th>
            <a href="{{api.spec}}" class="status__api__name" target="_blank" rel="noopener noreferrer">{{api.name}}</a>
          </th>
          {{#each ../browser}}
            {{#with . as |browser|}}
              <td class="status__browser--{{tag}} status__completeness status__completeness--{{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}">
                {{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}
                {{#if (lookup (lookup (lookup ../../status api.tag) browser.tag) "since")}}
                  ({{lookup (lookup (lookup ../../status api.tag) browser.tag) "since"}})
                {{/if}}
                {{#if (lookup (lookup (lookup ../../status api.tag) browser.tag) "has_details")}}
                  <button class="status__completeness__detailsbutton" data-details-id="{{api.tag}}_{{browser.tag}}" data-browser="{{browser.tag}}" data-api="{{api.tag}}">Details</button>
                {{/if}}
              </td>
            {{/with}}
          {{/each}}
        </tr>
      {{/with}}
    {{/each}}
    </tbody>
  </table>
  {{#each api}}
    {{#with . as |api|}}
      {{#each ../browser}}
        {{#with . as |browser|}}
          <div id="{{api.tag}}_{{browser.tag}}" class="details details--{{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}" data-browser="{{browser.tag}}" data-api="{{api.tag}}">
            <h2 class="details__title">{{api.name}} in {{browser.name}}</h2>
            <div class="details__content">
              {{{read_partial api.tag browser.tag}}}
            </div>
            <button class="details__close">Close</button>
          </div>
        {{/with}}
      {{/each}}
    {{/with}}
  {{/each}}
  <footer>
    Maintained by <a href="https://twitter.com/DasSurma" target="_blank" rel="noopener noreferrer">Surma</a>,
      <!--source code & license in the <a href="https://github.com/surma/ishoudinireadyyet.com" target="_blank" rel="noopener noreferrer">repository</a> on GitHub, -->
      source code soon,
      last updated on {{last_update}}
  </footer>
  <script>
    (function() {
      var table = document.querySelector('table');

      function showDetails(ev) {
        var details = document.getElementById(ev.target.dataset.detailsId);
        details.classList.add('displayed', 'maximized');
        var last = details.getBoundingClientRect();
        var first = ev.target.parentNode.getBoundingClientRect();
        details.dataset.transform = details.style.transform =
          'translate(' + (first.left - last.left) + 'px, ' + (first.top - last.top) + 'px)' +
          'scale(' + (first.width/last.width) + ', ' + (first.height/last.height) + ')';
        requestAnimationFrame(function() {
          requestAnimationFrame(function() {
            details.classList.add('visible', 'animated');
            details.style.transform = 'none';
          });
        });

        // Fade out table for a11y
        table.addEventListener('transitionend', function once(ev) {
          if (ev.target !== table) {
            return;
          }
          table.removeEventListener('transitionend', once);
          table.style.visibility = 'hidden';
        });
        table.style.opacity = 0;
      }

      function hideDetails(ev) {
        var details = ev.target.parentNode;
        details.addEventListener('transitionend', function once() {
          details.removeEventListener('transitionend', once);
          details.classList.remove('visible', 'animated', 'displayed', 'maximized');
          details.dataset.transform = details.style.transform = '';
        });
        details.style.transform = details.dataset.transform;

        // Fade in table
        table.style.visibility = 'visible';
        requestAnimationFrame(function() {
          requestAnimationFrame(function() {
            table.style.opacity = 1;

            // Focus details button in cell
            document
              .querySelector('.status__api--' + details.dataset.api)
              .querySelector('.status__browser--' + details.dataset.browser)
              .querySelector('button').focus();
          });
        });

      }

      // Register click handlers for all the buttons
      var detailsbtns = document.querySelectorAll('.status__completeness > .status__completeness__detailsbutton');
      for(var i = 0; i < detailsbtns.length; i++) {
        detailsbtns[i].addEventListener('click', showDetails);
      }

      var closebtns = document.querySelectorAll('.details__close');
      for(var i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener('click', hideDetails);
      }

      document.addEventListener('keydown', function (ev) {
        if (ev.key !== 'Escape') {
          return;
        }
        var openDetails = document.querySelector('.details.visible');
        if (!openDetails) {
          return;
        }

        openDetails.querySelector('.details__close').click();
      });
    })();
  </script>
</body>
</html>