<!doctype html>
<html>
<head>
  <title>Is Houdini Ready Yet?</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }
    html, body {
      width: 100vw;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Roboto Condensed', sans-serif;
      max-width: 720px;
      margin: 0 auto;
    }
    .title {
      text-align: center;
      font-size: 3em;
      margin: 2em 0;
    }
    table {
      width: 100%;
    }
    td {
      text-align: center;
      padding: 5px;
      vertical-align: center;
    }
    /* Rounded corners for status table */
    tbody tr:first-of-type > td:first-of-type {
      border-top-left-radius: 3px;
    }
    tbody tr:first-of-type > td:last-of-type {
      border-top-right-radius: 3px;
    }
    tbody tr:last-of-type > td:first-of-type {
      border-bottom-left-radius: 3px;
    }
    tbody tr:last-of-type > td:last-of-type {
      border-bottom-right-radius: 3px;
    }
    thead td {
      vertical-align: top;
    }
    thead .status__browser img {
      display: block;
      height: 50px;
      margin: 10px auto;
    }
    .status__completeness button {
      display: block;
      border: 0;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      opacity: 0.4;
      transition: opacity 0.3s ease-in-out;
      margin: 10px;
    }
    .status__completeness button:hover {
      opacity: 0.8;
    }
    .status__completeness details {
      display: none;
    }
    .status__completeness--none {
      background-color: hsl(0, 50%, 65%);
    }
    .status__completeness--partial {
      background-color: hsl(50, 70%, 60%);
    }
    .status__completeness--full {
      background-color: hsl(75, 70%, 60%);
    }
  </style>
</head>
<body>
  <h1 class="title">Is Houdini ready yet‽</h1>
  <table>
    <thead>
      <tr>
        <td class="empty"></td>
        {{#each browser}}
          <td class="status__browser status__browser--{{tag}}">
            <img src="/logos/{{tag}}.svg">
            {{name}}
          </td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each api}}
      {{#with . as |api|}}
        <tr class="status__api status__api--{{api.tag}}">
          <th>
            <a href="{{api.spec}}" class="status__api__name">{{api.name}}</a>
          </th>
          {{#each ../browser}}
            {{#with . as |browser|}}
              <td class="status__browser--{{tag}} status__completeness status__completeness--{{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}">
                {{lookup (lookup (lookup ../../status api.tag) browser.tag) "completeness"}}
                {{#if (lookup (lookup (lookup ../../status api.tag) browser.tag) "since")}}
                  ({{lookup (lookup (lookup ../../status api.tag) browser.tag) "since"}})
                {{/if}}
                  <button>Flags & Details</button>
                  <details>
                    {{read_partial api.tag browser.tag}}
                  </details>
              </td>
            {{/with}}
          {{/each}}
        </tr>
      {{/with}}
    {{/each}}
    </tbody>
  </table>
</body>
</html>